lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results

processing/choppt
processing/frames
processing/images
processing/renamedframes

npm-debug.log

node_modules
public/images/temporary

settings.json
artists.json

policy_document.py
