<% layout('base') -%>

<% script('/lib/jquery.min.js') -%>

<div class="bg">
	<div id="triangle"></div>
	<a href="http://127.0.0.1:3000/upload-flipflop" id="back">choose other images</a>
	<div id="wrapper" class="box">
		<div id="b1" class="box"></div>
		<div id="b2-wrapper">
			<div id="b2" class="box"></div>
		</div>
	</div>
</div>

<style>
	.bg {
		width: 875px;
	}
	.box, #b2-wrapper {
		width: 300px;
		height: 300px;
		position: absolute;
		overflow: hidden;
	}
	#wrapper {
		position: relative;
		margin: 0 auto;
		margin-bottom: 50px;
		-webkit-animation: skew 5s infinite;
	}
	@-webkit-keyframes skew {
		0% {
			-webkit-transform: perspective(500) rotateX(-10deg);
		}
		50% {
			-webkit-transform: perspective(500) rotateX(10deg);
		}
		100% {
			-webkit-transform: perspective(500) rotateX(-10deg);
		}
	}
	#b1, #b2 {
		background-size: cover;
		background-position: center;
	}
	#b1 {
		background-image: url(<%=image_url0%>);
	}
	#b2 {
		background-image: url(<%=image_url1%>);
	}
	#b2-wrapper {
		-webkit-animation: wipe 5s infinite;
		-webkit-mask-size: 640px 640px;
		-webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom,
				color-stop(0.00,  rgba(0,0,0,1)),
				color-stop(0.45,  rgba(0,0,0,1)),
				color-stop(0.50,  rgba(0,0,0,0)),
				color-stop(0.55,  rgba(0,0,0,0)),
				color-stop(1.00,  rgba(0,0,0,0)));
	}
	@-webkit-keyframes wipe {
		0% {
			-webkit-mask-position: 0px 0px;
		}
		50% {
			-webkit-mask-position: -300px -300px;
		}
		100% {
			-webkit-mask-position: 0px 0px;
		}
	}
</style>

<script type="text/javascript">

	function displayMessage (evt) {
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}
</script>