<% layout('base') -%>

<% script('//api.filepicker.io/v1/filepicker.js') -%>

<h2>Pick the first of your two images:</h2>
<div class="img-box">?</div>
<div class="img-box">?</div>
<iframe id="picker"></iframe>

<style>
	h2 {
		font-family: Futura;
		text-transform: uppercase;
		width: 875px;
		text-align: center;
	}
	#picker {
		width: 875px;
		height: 500px;
		border: none;
	}
	.img-box {
		width: 437px;
		height: 215px;
		float: left;
		background-image: url(http://meshu.io/static/gifpop/img/starburst-wide.png);
		background-color: #808080;
		background-position: center;
		border: solid #eee;
		box-sizing: border-box;
		border-width: 10px 5px;
		margin-bottom: 10px;
		font-size: 170px;
		text-align: center;
		line-height: 204px;
	}
	.img-box:nth-child(even) {
		border-left-width: 10px;
	}
	.img-box:nth-child(odd) {
		border-right-width: 10px;
	}
</style>

<script type="text/javascript">

	filepicker.setKey("AYkBZ0oUOTTqvkwhxMx3Ez");

	filepicker.pickAndStore({
			mimetype: 'image/*',
			container: 'picker',
			services: ['COMPUTER','URL','INSTAGRAM','FACEBOOK','FLICKR']
		},{
			path: '/uploads/<%=scan_id%>/'
		},function(InkBlobs){
	   		// console.log(JSON.stringify(InkBlobs));
	   		var id0 = InkBlobs[0].url.split("/")[5];
	   		window.location = "<%=base_url%>/upload-flipflop2/?id0="+id0+"&key0="+InkBlobs[0].key;
		},function(FPError){ console.log(FPError); }
	);

</script>