<% layout('base') -%>

<% script('//api.filepicker.io/v1/filepicker.js') -%>
<% script('/lib/jquery.min.js') -%>

<iframe id="picker"></iframe>

<h1>More ways to pop</h1>

<div id="flipflop" class="chop-option">
	<h2>Flip Between Two Images</h2>
	<p class="caps">If you don't have a gif, just upload two images!</p>
	<img src="images/diagrams/upload_flipflop.jpg" class="diagram">
	<img src="images/diagrams/upload_flipflop_hover.gif" class="diagram">
</div>
<form class="chop-option">
	<h2>Enter in a URL</h2>
	<p class="caps">Links to <a class="logo" href="https://vine.co">Vine</a> and <a class="logo" href="http://instagram.com">Instagram Video</a> work too!</p>
	<div class="url-form">
		<input type="text" id="urlInput" name="url" style="width:80%" placeholder="">
		<div id="urlSubmit"></div>
	</div>
	<div class="loading">Loading... <img src="images/icons/loading.gif" /></div>
</form>
<!-- <div id="fileFromURL">
    <h2>Or paste a URL to a gif here</h2>
    <input id="urlInput"></input>
    <div id="urlSubmit"></div>
    <p>(links to your Vines or Instagram videos also work!)</p>
</div> -->
<!-- <div id="url"></div> -->

<style>
	h1, h2 {
		font-family: Futura, Helvetia, sans-serif;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}
	h2 {
		color: #808080;
		margin-bottom: 0;
	}
	.caps {
		text-transform: uppercase;
	}
	#picker {
		width: 875px;
		height: 270px;
		border: none;
	}
	#urlInput {
		width: 250px !important;
		border-radius: 0;
		box-shadow: none;
		-webkit-transform: skew(-7deg);
		height: 40px;
		float: left;
		margin: 30px 0 75px 25px;
	}
	#urlSubmit {
	    background-image: url(images/submit.png);
	    width: 124px;
	    height: 56px;
	    cursor: pointer;
	    float: left;
	    margin-top: 25px;
	}
	#urlSubmit:hover {
	    background-image: url(images/submit-over.png);
	}
	#urlSubmit:active {
	    background-image: url(images/submit-down.png);
	}
	#flipflop {
		cursor: pointer;
	}
	.chop-option {
		width: 50%;
		background-color: #eee;
		font-family: Futura, Helvetia, sans-serif;
		float: left;
		box-sizing: border-box;
	}
	.chop-option:nth-child(even) {
		border-left: 5px solid white;
	}
	.chop-option:nth-child(odd) {
		border-right: 5px solid white;
	}
	.chop-option p {
		color: #808080;
		text-align: center;
		font-size: 12px;
		clear: both;
		padding-top: 0;
		margin-bottom: 10px;
	}
	.chop-option a {
		color: #808080;
	}
	.diagram {
		position: absolute;
	}
	.diagram:nth-child(even) {
		display: none;
	}
	.chop-option:hover .diagram:nth-child(odd) {
		display: none;
	}
	.chop-option:hover .diagram:nth-child(even) {
		display: block;
	}

	.loading {
		display: none;
	}


</style>

<script type="text/javascript">

	function saveFrames() {
		parent.postMessage("gotoflipflop","*");
	}

	// update db with frame numbers
	$("#flipflop").click(saveFrames);
	$("#urlSubmit").click(submitUrl);

	function submitUrl() {
		$(".loading").show();
		$(".url-form").css({ opacity: .5 });
		var url = $("#urlInput").val();

		window.location = '/process-url/?url=' + url; // https://vine.co/v/hi2ml1lq0Jp
	}

	filepicker.setKey("AYkBZ0oUOTTqvkwhxMx3Ez");

	filepicker.pickAndStore({
			extension: '.gif',
			container: 'picker',
			services: ['COMPUTER']
		},{
			path: '/<%=scan_id%>'
		},function(InkBlobs){
	   		console.log(JSON.stringify(InkBlobs));
	   		var img = InkBlobs[0];
	   		var id = img.url.split("/");
	   		window.location = "<%=base_url%>/gifchop/?id="+id[5]+"&key="+img.key;
		},function(FPError){ console.log(FPError); }
	);

</script>