<% layout('base') -%>

<% script('//api.filepicker.io/v1/filepicker.js') -%>

<h2>Pick the first of your two images:</h2>
<iframe id="picker"></iframe>

<style>
	h2 {
		font-family: Futura;
		text-transform: uppercase;
		width: 875px;
		text-align: center;
	}
	#picker {
		width: 875px;
		height: 500px;
		border: none;
	}
</style>

<script type="text/javascript">

	filepicker.setKey("AYkBZ0oUOTTqvkwhxMx3Ez");

	filepicker.pickAndStore({
			mimetype: 'image/*',
			container: 'picker',
			services: ['COMPUTER','URL','INSTAGRAM','FACEBOOK','FLICKR']
		},{
			path: '/uploads/<%=scan_id%>/'
		},function(InkBlobs){
	   		// console.log(JSON.stringify(InkBlobs));
	   		var id0 = InkBlobs[0].url.split("/")[5];
	   		window.location = "<%=base_url%>/upload-flipflop2/?id0="+id0+"&key0="+InkBlobs[0].key;
		},function(FPError){ console.log(FPError); }
	);

</script>