<% layout('base') -%>

<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>

<h1>You are the <%=what%></h1>

<script type="text/javascript">
	// js goes here
	
</script>