<% layout('base') -%>

<% script('js/foo.js') -%>
<% stylesheet('css/style.css') -%>

<h1>You are the <%=what%></h1>

<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>