<% layout('base') -%>

<% stylesheet('/css/orders.css') %>

<h1>#<%=order%>, <%=line_items%> animations</h1>
<h3>Status: <%=status%></h3>

<% for(var i=0; i < images.length; i++) {%>
<div class="order-preview">
<img src="/orders/<%= images[i] %>/original.gif"/>
</div>
<% } %>