<% layout('base') -%>

<% script('/lib/jsgif/gif.js') -%>
<% script('/lib/jquery.min.js') -%>
<% script('/js/gifcontrol.js') -%>
<% script('/js/gifchop.js') -%>


<img id="gif" src='<%=image_url%>'>
<div id="timeline" style="margin: 0 auto; width:500px; height: 100px; border: 1px solid black;">
	<div id="selection" style="width:500px; height: 50px; background:#ff9900; pointer-events:none;"></div>
</div>
<p id="received-message"></p>

<script type="text/javascript">
	var image_url = '<%=image_url%>';
	var image = document.getElementById('gif');

	gifchopper.load(image_url, image);

	function displayMessage (evt) {
		// document.getElementById("gif").className = evt.data;
		$(".jsgif").attr("class","jsgif "+evt.data);
	}

	if (window.addEventListener) {
		// For standards-compliant web browsers
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}
</script>