html {
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}
#pickerComputer {
	background: red;
}
.wrapper {
}
.done .wrapper {
}
.done .jsgif {
	-webkit-transform: perspective(500) rotateX(-20deg);
	-webkit-animation-duration: 3s;
	-webkit-animation-name: skew;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes skew {
	from {
		-webkit-transform: perspective(500) rotateX(-20deg);
	}
	50% {
		-webkit-transform: perspective(500) rotateX(20deg);
	}
	to {
		-webkit-transform: perspective(500) rotateX(-20deg);
	}
}
.bg {
	background-color: #eee;
	padding: 25px 25px 10px 25px;
}
#triangle {
	width: 0;
    height: 0;
    border-bottom: 14px solid transparent;
	border-top: 14px solid transparent;
	border-right: 15px solid #808080;
	position: absolute;
	top: 15px;
}
#back {
	background-color: #808080;
	color: white;
	text-decoration: none;
	padding: 3px 10px 4px 3px;
	font-family: Futura;
	font-weight: normal;
	position: absolute;
	left: 40px;
	top: 15px;
}
#timeline {
	width: 100%;
	height: 50px;
	margin-top: 2px;
	background-color: #808080;
}
.scrubbable {
	cursor: pointer;
}
#gif-controls {
	position: relative;
}
#status {
	display: none;
	color: white;
	font-family: Futura;
	text-align: center;
	font-size: 18px;
	background: black;
	-webkit-transform: skew(-7deg);
	padding: 10px;
	position: absolute;
	left: 330px;
	top: 300px;
}
#selection {
	display: none;
	width:0px;
	height: 50px;
	margin: 0;
	background:#f8981c;
	cursor: move;
	background-image: url(../images/timeline-center.png);
	background-repeat: no-repeat;
	background-position: 50%;
	margin-top: -50px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	pointer-events: none;
}
#playhead {
	width: 2px;
	height: 50px;
	margin: 0;
	margin-top: -50px;
	background: white;
	pointer-events: none;
}
#gif-ui {
	margin: 10px auto 0;
	color: white;
	font-family: "Helvetica Neue", Helvetica;
}
.large-helper-text {
	font-family: "Futura";
	text-transform: uppercase;;
	font-size: 24px;
	color: #808080;
	text-align: center;

	-webkit-font-smoothing: antialiased;

	transform:skew(-7deg);
	-ms-transform:skew(-7deg); /* IE 9 */
	-moz-transform:skew(-7deg); /* Firefox */
	-webkit-transform:skew(-7deg); /* Safari and Chrome */
	-o-transform:skew(-7deg); /* Opera */
}
#gif-submit {
	-webkit-appearance: none;
	border: none;
	background-color: #f8981c;
	text-transform: uppercase;
	font-family: "Futura";
	font-size: 24px;
	color: white;
	cursor: pointer;
	padding: 5px 10px;
	font-weight: 500;
}


.jsgif {
	overflow: hidden;
	margin: 20px auto 0;
}
.jsgif_simple_tools {
	display: none;
}
.jsgif.s_2x3 {
	width: 262px !important;
	height: 150px;
}
.jsgif.s_4x6 {
	width: 450px !important;
	height: 300px;
}
.jsgif.s_5x5 {
	width: 375px !important;
	height: 375px;
}
.jsgif.s_3x3 {
	width: 225px !important;
	height: 225px;
}
.jsgif canvas {
	width: 100%;
}